<template onload="init()">
  <div id="app">
    <app-navbar></app-navbar>
    <section class="appmain">
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </section>
    <footer class="footer">
      <div class="column is-one-third">
      <a class="tag">Stakeholders</a>
      <span style="float: left">Mane Standage, Wayne Berry</span>
      </div>
      <div class="column is-one-third">
      <a class="tag">Team Members</a>
      <span style="float: left">James Kyle, Ralph Wise, Wayne Rooney</span>
      </div>
      <div class="column is-one-third">
        <div class=" buttons has-addons is-right" >
          <span style="font-size: 0.875rem" class="footerBtns button is-success is-outlined">Schedule</span>
          <span style="font-size: 0.875rem" class="footerBtns button is-outlined is-success">Start Conference Call</span>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  
}
</script>

<style>
.appmain {
  min-height: calc(100vh - 41px);
  background-color: #edeef0;
  padding-top: 88px
}
body {
  font-size: 0.875rem;
}
body::-webkit-scrollbar { 
  display: none;
}
.footer {
  min-height: 2vh;
  position: fixed;
  min-width: 100vw;
  bottom: 0;
  z-index: 1030;
  padding: 10px;
  background-color: #fff;
  display: table;
  text-align: center
}
.footer .column {
  float: left;
}

.buttons:last-child {
    margin-bottom: -1rem;
}
.footerBtns.button.is-success {
  border-color: #3273dc !important;
  color: #3273dc !important
}
.footerBtns.button.is-success.is-outlined:focus, .footerBtns.button.is-success.is-outlined:hover {
    background-color: #3273dc !important;
    border-color: #3273dc !important;
    color:#fff !important;
}
</style>