<template>
    <div class="container docscreen">
        <table class="table scroll">
            <thead>
                <th>
                    <div class="dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                            <a class="button is-info is-outlined custombtn is-right" aria-haspopup="true" aria-controls="dropdown-menu" @click="dnload()" title="Download">
                                <i style="font-size: 1.4em" class="icon ion-android-download" ></i>
                            </a>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                            <a class="dropdown-item">
                                Word
                            </a>
                            <a class="dropdown-item">
                                PPT
                            </a>
                            <a class="dropdown-item">
                                PDF
                            </a>
                            </div>
                        </div>
                    </div>
                    <a class="button is-info is-outlined custombtn is-right" type="button" @click="print()" title="Print">
                        Print
                    </a>
                    
                </th>
            </thead>
            <tbody>
                <tr v-for="(row, index) in 10" :key="index, row">
                    <td width="50px">{{index+1}}</td>
                    <td >
                        {{table.tbody}}
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

export default {
    data() {
        return{
        tableJSON: '',
        table: {
            thead1: '#',
            thead: [
            ],
            tbody:
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dui ante, vehicula id quam nec, dapibus posuere turpis. Mauris in nulla erat. Pellentesque mollis posuere arcu, dignissim finibus sapien bibendum quis. Praesent et lacinia arcu. Duis porta magna tortor, vel sollicitudin turpis'
            }
        }
    
    },
    methods: {
        print: function(){
            
        },
        dnload: function(){

        }
    }
}
</script>

<style scoped>
thead th {
  padding: 0px 0px
}
.docscreen {
    margin-top: 20px;
    min-width: 96vw;
    margin-top: 20px;
    min-width: 96vw
}
tbody {
    display: block;
}
table.scroll tbody {
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}
/* Scrollbar */
table.scroll tbody::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
table.scroll tbody::-webkit-scrollbar {
    width: .15em;
}
table.scroll tbody::-webkit-scrollbar-thumb {
    border: 2px solid #3273dc;
}
.custombtn {
  border-radius: 0;
  border-color: transparent !important;
  color: #3273dc !important;
  float: right;
  font-weight: 500
}
.custombtn:hover {
  background-color: #3273dc !important
}
.custombtn:hover {
  color: #ffffff !important
}
.custom-icon {
  color: #3273dc !important
}
.dropdown {
    float: right
}
.dropdown-content {
    float: right;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-weight: 400
}
</style>
