<template>
<div class="container " id="diagram-content" style="width: 100%;">
    <div class="columns">
      <div id="myPaletteDiv"
        style="background-color: #fff; width: 7.5% !important; margin-right: 0.5vw">
      </div>
      <diagram ref="diag" id="myDiagramDiv"
        v-bind:model-data="diagramData"
        style="background-color: #fff; flex-grow: 1; width: 92% !important; height: 70vh; ">
      </diagram>
    </div>
</div>
</template>

<script>
var ght = "Log on to ACME Bank website and fill application"
export default {
    data() {
      return {
        // foo: 'foo',       
        diagramData: {
          nodeDataArray: [
            {"key":-1, "category":"Start", "loc":"-360 50", "text":"Start"},
            {"key":0, "loc":"-250 50", "text": ght},
            {"key":1, "loc":"-250 150", "text":"Receive vendor application notification"},
            {"key":2, "loc":"-115 150", "text":"Review application for adequately and validation of supporting documentation"},
            {"key":3, "loc":"55 150", "figure":"Diamond", "text":"application adequate?"},
            {"key":4, "loc":"230 150", "text":"Move Vendor to Inforsec review querie"},
            {"key":5, "loc":"610 130", "text":"Decline vendor application to work with vendor to adress issues"},
            {"key":6, "loc":"742 130", "category":"End", "text":"End"},
            {"key":7, "loc":"230 250", "text":"Conduct Pen Test on vendor Information System"},
            {"key":8, "loc":"370 250", "text":"Perform site visit to assess vendor physical security"},
            {"key":9, "loc":"527 250", "figure":"Diamond", "text":"Vendor secure?"},
            {"key":10, "loc":"230 380", "category":"End",  "text":"End"},
            {"key":11, "loc":"370 380", "text":"Update Vendor status in vendor mgt database"},
            {"key":12, "loc":"527 380", "text":"Grant access tospecific information systems as required"}
          ],
          linkDataArray: [
            {"from":-1, "to":0, "fromPort":"R", "toPort":"L"},
            {"from":0, "to":1, "fromPort":"B", "toPort":"T"},
            {"from":1, "to":2, "fromPort":"L", "toPort":"R"},
            {"from":2, "to":3, "fromPort":"R", "toPort":"L"},
            {"from":3, "to":0, "fromPort":"T", "toPort":"R", "visible":true, "text":"No"},
            {"from":3, "to":4, "fromPort":"R", "toPort":"L", "visible":true, "text":"Yes"},
            {"from":4, "to":7, "fromPort":"B", "toPort":"T"},
            {"from":7, "to":8, "fromPort":"R", "toPort":"L"},
            {"from":8, "to":9, "fromPort":"B", "toPort":"T"},
            {"from":9, "to":5, "fromPort":"T", "toPort":"B", "visible":true, "text":"No"},
            {"from":5, "to":6, "fromPort":"R", "toPort":"L"},
            {"from":9, "to":12, "fromPort":"B", "toPort":"T", "visible":true, "text":"Yes"},
            {"from":12, "to":11, "fromPort":"L", "toPort":"R"},
            {"from":11, "to":10, "fromPort":"L", "toPort":"R"}
          ]
        },
        currentNode: null,
        savedModelText: "",
        counter: 1,  // used by addNode
        counter2: 4  // used by modifyStuff
      }
    },
    computed: {
      currentNodeText: {
        get: function() {
          var node = this.currentNode;
          if (node instanceof go.Node) {
            return node.data.text;
          } else {
            return "";
          }
        },
        set: function(val) {
          var node = this.currentNode;
          if (node instanceof go.Node) {
            var model = this.model();
            model.startTransaction();
            model.setDataProperty(node.data, "text", val);
            model.commitTransaction("edited text");
          }
        }
      }
    },
    methods: {
      model: function() { return this.$refs.diag.model(); },
      updateDiagramFromData: function() { this.$refs.diag.updateDiagramFromData(); },
      modelChanged: function(e) {
        if (e.isTransactionFinished) {
          this.savedModelText = e.model.toJson();
        }
      },
      changedSelection: function(e) {
        var node = e.diagram.selection.first();
        if (node instanceof go.Node) {
          this.currentNode = node;
          this.currentNodeText = node.data.text;
        } else {
          this.currentNode = null;
          this.currentNodeText = "";
        }
      }
    }
  //   syncDataRouter: {
  //   foo: 'foo_in_query'
  //  }
    
}
</script>

<style scoped>
canvas {
  top: 50px !important
}
#diagram-content {
  margin-top: 30px;
  min-width: 94vw;
}
</style>