<template>
<div class="appNav">
    <nav class="navbar topNav">
        <div class="column upriskWord">
        <a class="uprisk">UpRisk</a>
        </div>
        <div class="column searchInput">
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="Search">
                    <span class="icon is-small is-left">
                    <i class="ion-android-search"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="column is-one-quarter">
        </div>
        <div class="column is-one-quarter">
            <div class="buttons is-right" >
                <a type="button" class="button is-success is-outlined custombtn">
                    <i class="icon ion-plus custom-icon"></i>
                </a>
                <a type="button" class="button is-success is-outlined custombtn">
                    <i class="icon ion-gear-b custom-icon"></i>
                </a>
                <a type="button" class="button is-success is-outlined custombtn">
                    <i class="icon ion-person custom-icon"></i>
                </a>
            </div>
        </div>
    </nav>
    <nav class="navbar bottomNav">
        <div class="navbar-start">
            <div class="column is-half">
                <a class="acme">Acme Bank Vendor Certification</a>
            </div>
            <div class="column is-half mainlable">
                <a class="lbl">Risk Control Self Assessment</a>
            </div>
        </div>
        <div class="navbar-end">
            <router-link class="navbar-item is-tab" to="/">
                Flowchart
            </router-link>
            <router-link class="navbar-item is-tab" to="/spreadsheet">
                Spreadsheet
            </router-link>
            <router-link class="navbar-item is-tab" to="/documentation">
                Documentation
            </router-link>
        </div>
    </nav>
</div> 
</template>

<script>
export default {
}
</script>

<style scoped>
.appNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0
}
.topNav {
    min-height: 2.25rem !important;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #e3e8ec
}
.bottomNav {
    font-weight: 400;
    box-shadow: 0px 3px 5px rgba(10, 10, 10, 0.1);
    padding-right: 20px;
    padding-left: 20px;
}
.navbar-start {
    min-width: calc(66.7vw - 10px)
}
.navbar-end {
    min-width: calc(33.3vw - 10px);
    margin-left: 0
}
.navbar-item{
    color:#94a0b2
}
.navbar-item.is-tab {
    padding-top: 16px
}
.custom-icon{
    font-size: 1.2rem
}
.custombtn {
    border-radius: 0;
    border-color: transparent !important;
    color: #94a0b2 !important
}
.custombtn:hover {
    background-color: transparent !important
}
.custombtn:hover .custom-icon {
    color: #3273dc !important
}
.buttons .button {
    margin-bottom: 0.2rem;
}
.is-one-quarter{
    padding-top: 0px;
    padding-bottom: 0px
}
.upriskWord {
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 10vw;
}
.uprisk {
    font-size: 1.4rem;
    font-weight: 500;
    color: #3273dc
}
.mainlable {
    text-align: center
}
.searchInput {
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 40vw;
}
.control.has-icons-left .input, .control.has-icons-left .select select{
    height: 28px;
    vertical-align: text-top;
    margin: 2px auto;
}

input[type=text] {
    width: 70px;
    border-radius: 45px;
    font-size: 1rem;
    font-weight: 300;
    padding: 1px 0px;
    padding: 2px 80px;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    color: #94a0b2
}
input[type=text]:hover {
    cursor: pointer;
    border-color: #94a0b2
    
}
input[type=text]:focus {
    width: 60%;
    box-shadow: none !important;
    /* box-shadow: inset 0 0; */
    border-color: #94a0b2;
    border-style: solid;
    cursor: text
}

.lbl {
    background-color: #3273dc;
    padding: 4px 14px;
    color: #fff;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    /* box-shadow: inset 0px 0px 6px 1px rgba(255, 255, 255, 0.4) */
}
.acme {
    color: #94a0b2;
    font-size: 1rem;
    font-weight: 400
}
</style>