<template>
<div id="content-editable-table" class="container">
  <table class="table table-striped editable-table scroll">
    <thead v-if="table.thead.length">
      <tr>
        <th style="padding-top: 6px; width:50px">#</th>
        <th v-for="(heading, index) in table.thead" :key="index, heading">
          <input class="input" type="text" v-model="table.thead[index]" />
        </th>
        <th style="padding: 0px">
          <a class="button is-info is-outlined custombtn" type="button" @click="addColumn()" title="Add Column">
            <i class="icon ion-plus custom-icon"></i>
          </a>
        </th>
        <th style="padding: 0px">
        <div class="dropdown is-hoverable is-right">
          <div class="dropdown-trigger">
              <a class="button is-info is-outlined custombtn is-right" aria-haspopup="true" aria-controls="dropdown-menu" @click="dnload()" title="Download">
                  <i style="font-size: 1.4em" class="icon ion-android-download" ></i>
              </a>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
              <a class="dropdown-item">
                  Excel
              </a>
              <a class="dropdown-item">
                  PPT
              </a>
              <a class="dropdown-item">
                  PDF
              </a>
              </div>
          </div>
        </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="(row, index) in table.tbody" :key="index, row">
        <td width="50px">{{index+1}}</td>
        <td v-for="(value, index) in row" :key="index, value, row">
          <textarea-autosize type="text" v-model="row[index]"></textarea-autosize>
        </td>
        <td>
           <a class="button is-danger is-outlined delbtn" type="button" @click="deleteRow(index)" title="Delete Row">
            <i class="icon ion-close"></i>
          </a>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td v-bind:colspan="table.thead.length">
          <a class="button is-info is-outlined custombtn" type="button" @click="addRow()" title="Add Row">
            <i class="icon ion-plus custom-icon"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</template>

<script>
export default {
  data() {
    return{
      tableJSON: '',
      table: {
        thead1: '#',
        thead: [
          'Activity',
          'Team Owner',
          'Individual Owner',
          'Risk Statement',
          'Impact',
          'Likelihood',
          'Risk Rating',
          'Control'
        ],
        tbody: [
          ['Receive vendor application modification', 'Vendor Management', 'Wayne Rooney', 'The vendor management team does not receive the application in a timely manner leading to delay in approving vendors', 'Low', 'Rarely', 'Minimal', ''],
          ['Review application for adequacy and validation of supporting documentation', 'Vendor Management', 'Wayne Rooney', 'The vendor management team does not review application for adequacy resulting in the approval of sub-par vendors, bad service and reat to information systems', 'High', 'Rarely', 'Medium', ''],
          ['Move vendor to Information Security Review qure', 'Vendor Management', 'Wayne Rooney', '', '', '', '', ''],
          ['Conduct penetration testing a vendor information Systems', 'Information Security Team', 'James Kyle', 'Information security does not conduct a pentest on vendor leading to potential security on Acme systems', 'Very High', 'Rarely', 'High', ''],
          ['Perform site riset to assess vendor physical security', 'Information Security Team', 'James Kyle', '', '', '', '', ''],
          ['Grant Access to specific information systems as requested', 'Access Management', 'Ralph Wise', '', '', '', '', ''],
          ['Update vendor status in vendor management database', 'Access Management', 'Ralph Wise', '', '', '', '', '']

        ],
      }
    }
  },
  mounted: function() {
     var _this = this;
    _this.updateTableJSON();
    
     $('#content-editable-table').on('change', '[type="text"]', function() {
      _this.updateTableJSON();
    });
  },
  methods: {
    updateTableJSON: function() {
      this.tableJSON = JSON.stringify(this.table);
    },
    
    addColumn: function() {
      this.table.thead.push('Heading ' + (this.table.thead.length + 1));
      
      for(var i = 0, length = this.table.tbody.length; i < length; i++) {
        this.table.tbody[i].push('R:' + (i + 1) + ' V:' + this.table.thead.length);
      }
      
      this.table.tfoot.push('Footer ' + this.table.thead.length);
      
      this.updateTableJSON();
    },
    
    addRow: function() {
      var newRow = [];
      
      for(var i = 0, length = this.table.thead.length; i < length; i++) {
        newRow.push('R:' + (this.table.tbody.length + 1) + ' V:' + (i + 1))
      }
      
      this.table.tbody.push(newRow);
      
      this.updateTableJSON();
    },

    deleteRow: function(index) {
      this.table.tbody.splice(index,1);
      this.updateTableJSON();
    }
  }
}
</script>

<style scoped>
#content-editable-table {
  margin-top: 20px;
  min-width: 96vw;
}
thead th {
  padding: 0px 0.75em;
  padding-right: 0px
}
tbody td {
  padding: 0.25em 0.75em
}
table.scroll {
    border-spacing: 0;
}

thead{
  display: table; /* for displaying purposes */
}
tbody {
    display: block;
}
table.scroll tbody {
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden
}

/* Scrollbar */
table.scroll tbody::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
table.scroll tbody::-webkit-scrollbar {
    width: .15em;
}
table.scroll tbody::-webkit-scrollbar-thumb {
    border: 2px solid #3273dc;
}

textarea {
  background: none;
  border: none;
  width: 100%;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0);
  font-size: 0.8rem
}

input {
  background: none;
  border: none;
  width: 100%;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0);
  font-size: 0.875rem;
  padding-left: 0;
  font-weight: 500
}

.custombtn {
  border-radius: 0;
  border-color: transparent !important;
  color: #3273dc !important
}
.custombtn:hover {
  color: #ffffff !important
}
.custombtn:hover {
  background-color: #3273dc !important
}
.custombtn:hover .custom-icon {
  color: #ffffff !important
}
.custom-icon {
  color: #3273dc !important
}
.delbtn {
  border-radius: 0;
  font-size: 0.7rem;
  border-color: transparent !important;
}
.dropdown {
    float: right
}
.dropdown-content {
    float: right;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-weight: 400
}
</style>